* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

body {
    font-family: 'New Tegomin', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    /* To adjust view perspective */
    perspective: 1000px;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    /* Preserve 3d on words */
    transform-style: preserve-3d;
}

.cthun {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cthun img {
    width: 17rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(59, 84, 57, 0.75),
        rgba(98, 172, 95, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1 {
    font-size: 2.5rem;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #5858589f;
    transition: all 0.75s ease-out;
}

.plagues {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.plagues button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #5858589f;
}
button.active {
    background: #5858589f;
    color: white;
}
.purchase {
    margin-top: 5rem;
}
.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #62ac5f;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    transition: all 0.75s ease-out;
}

.credit {
    font-size: 1.3rem;
    position: absolute;
    bottom: 15px;
    right: 35px;
}
.credit img {
    width: 35px;
    height: 35px;
}
.credit section {
    padding-top: 6px;
}

@media (max-width: 600px) {
    /* Container and card */
    .container {
        width: 100%;
    }
    .card {
        min-height: 60vh;
        width: 20rem;
    }
    /* Circle and image */
    .cthun {
        min-height: 25vh;
    }
    .cthun img {
        width: 8rem;
    }
    .circle {
        width: 7rem;
        height: 7rem;
    }
    /* Words */
    .info h1 {
        font-size: 1rem;
    }
    .info h3 {
        font-size: 0.7rem;
    }
    /* Buttons */
    button {
        font-size: 0.6rem;
    }
    .plagues button {
        padding: 0.2rem 0.7rem;
    }
    .purchase {
        margin-top: 3rem;
    }
    .purchase button {
        width: 100%;
        padding: 0.6rem 0rem;
    }
    /* Credits */
    .credit {
        font-size: 0.7rem;
        position: absolute;
        bottom: 12px;
        right: 25px;
    }
    .credit img {
        width: 20px;
        height: 20px;
    }
    .credit section {
        padding-top: 3px;
    }
}
